{
  "presets": ["@babel/preset-env", "@babel/preset-flow"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-class-properties",
    "dynamic-import-node",
    "@babel/plugin-proposal-optional-chaining",
    "inline-dotenv"
  ]
}
